<section class="hero">

  <!-- CAMADA ESCURA -->
  <div class="hero-overlay"></div>

  <!-- CONTEÚDO -->
  <div class="hero-content">

    <h1>
      Deus tem feito
      <span>grandes coisas</span>
    </h1>

    <p>
      Histórias que transformam vidas
      <br class="desktop-break" />
      e inspiram o coração.
    </p>

    <div class="hero-actions">

      <a
        class="btn btn-primary"
        routerLink="/testemunhos"
      >
        Ver testemunhos
        <span class="btn-arrow">→</span>
      </a>

    </div>

  </div>

</section>
